<h1>Editar Perfil</h1>

<%= form_for(@user, url: user_path(@user), method: :put) do |f| %>
  <div>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>


  <div>
    <%= f.submit 'Atualizar Perfil' %>
  </div>
<% end %>
