<div class="container skills">

  <h1> Skills </h1>
  <hr>
  <div>
    <ul>
      <% @skills.each do |skill| %>
        <li>
          <%= skill.name %>
          <%# <%= link_to "Add skill", add_to_user_skill_path(skill)%>
          <%= form_tag add_to_user_skill_path(skill), method: :post do %>
            <%= submit_tag "Add to My Skills" %>
          <% end %>
        </li>
      <%end %>
    </ul>
    <hr>
    <%= link_to "Back to Profile", user_skills_path %>

  </div>
</div>
