<header>
  <div class="container">
    <%= link_to root_path, class:"logo" do %><%= image_tag "logo_main.png", width: 100 %><% end %>
      <ul class="links">
          <li><%= link_to "About Us", about_us_path %></li>
          <li><%= link_to "Tips", tips_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached?  %>
                <%= cl_image_tag current_user.photo.key, height: 40, width: 40, class:"avatar", crop: :fill %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier.png", class: "avatar", alt: "dropdown menu" %>
              <% end %>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", user_skills_path, class: "dropdown-item-text" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item-text" %>
              </div>
            </li>
          <% else %>
            <li><%= link_to "Get Started", new_user_session_path %></li>
          <% end %>
      </ul>
  </div>
</header>
