<div class="container">
  <h1>Company details</h1>
  <hr>
  <p><strong>Name:</strong> <%= @company.name %></p>
  <p><strong>Description:</strong> <%= @company.description %></p>
  <p><strong>Reviews:</strong></p>
  <ul>
    <% @company.reviews.each do |review| %>
      <div class="profile-card">
      <%# classe acima é provisória, criar uma específica pra esse grid %>
        <li><%= review.user.full_name %></li>
        <li><%= review.content %></li>
        <li>
        <% review.rating.times do%>
        <i class="fa-solid fa-star" style="color: #f6d813;"></i>
        <% end %>
        <% (5 - review.rating).times do%>
        <i class="fa-regular fa-star" style="color: #f6d813;"></i>
        <% end %>

        </li>
      </div>

    <% end %>
  </ul>
  <%= link_to "Write a review", new_company_review_path(@company) %>
</div>
