<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">

    <title>F&F</title>
    <%= favicon_link_tag asset_path('logo_icon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render 'shared/navbar' unless current_page?(root_path) %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
    <%= render "shared/footer" %>
</html>
